.Dashboard {
  height: calc(100vh - 100px);
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-block: 1%;
  background-color: #f9f9f9;
}

.Dashboard h1 {
  padding-inline: 4.5%;
}

.Dashboard_container {

}

.Dashboard_notes section {
  padding-inline: 4.5%;
  padding-top: 9px;
  padding-bottom: 21px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.Dashboard_notesSubTitle {
  padding-inline: 4.5%;
  margin-top: 6px;
  font-size: 21px;
  font-weight: 600;
}

.Dashboard_kanban section {
  padding-inline: 4.5%;
  
}

.Dashboard_kanbanSubTitle {
  padding-inline: 4.5%;
  margin-top: 6px;
  font-size: 21px;
  font-weight: 600;
}
