/*#region NAVIGATION BAR */
.NavigationBar {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-block: 24px;
  padding-inline: 5%;
  border-bottom: 1px solid #60606030;
  box-shadow: 1px 6px 15px #60606021;
}

.NavigationBar_ul {
  display: flex;
  justify-content: space-between;
}

.NavigationBar_logoContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;
}

.NavigationBar_logoContainer span {
  font-size: 21px;
  font-weight: 700;
}

.NavigationBar_menuContainer {
  cursor: pointer;
}
/*#endregion */

/*#region NAVIGATION DRAWER */
.NavigationDrawer {
  width: 360px;
}

.NavigationDrawer_logoContainer {
  width: 100%;
  height: 138px;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #3283b830;
}

.NavigationDrawer_ul1 {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.NavigationDrawer_ul1 li {
  width: 45%;
}

.NavigationDrawer_ulTitle {
  width: 100%;
  font-size: 21px;
  font-weight: 700;
  color: #0f4d7599;
  margin-bottom: 6px;
  text-align: center;
}

.NavigationDrawer_ul1 li {
  height: fit-content;
  display: flex;
}

.NavigationDrawer_link {
  transition: 90ms ease-in-out;
  width: 100%;
  border-radius: 12px;
  text-decoration: none;
}

.NavigationDrawer_link:hover {
  transition: 90ms ease-in-out;
  background-color: #bde1fa;
}

.NavigationDrawer_linkContent {
  height: fit-content;
  margin-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.NavigationDrawer_linkContent p {
  width: 100%;
  color: black;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.NavigationDrawer_logOutContainer {
  padding-block: 90px;
  display: flex;
  justify-content: center;
}

.NavigationDrawer_logOut {
  transition: 120ms ease-in-out;
  width: 90%;
  padding-block: 6px;
  border-radius: 9px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: #0f4d75;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.NavigationDrawer_logOut:hover {
  transition: 120ms ease-in-out;
  transform: translateY(-3px);
  box-shadow: 1px 6px 9px gray;
}
/*#endregion */

@media (max-width: 700px) {
  /*#region NAVIGATION BAR */
  .NavigationBar_logoContainer span {
    font-size: 24px;
  }
  /*#endregion */

  /*#region NAVIGATION DRAWER */
  .NavigationDrawer {
    width: 300px;
  }

  .NavigationDrawer_ul1 li {
    width: 60%;
  }
  /*#endregion */
}

@media (max-width: 300px) {
  /*#region NAVIGATION DRAWER */
  .NavigationDrawer {
    width: 210px;
  }

  .NavigationDrawer_ul1 li {
    width: 81%;
  }
  /*#endregion */
}
