/* https://colormagic.app/palette/TtL1Sj9r9CpYRSdLXPnN */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.Dashboard_Breadcrumbs {
  font-size: 16px;
  color: #3283b8;
}

.Dashboard_Breadcrumbs a {
  text-decoration: none;
  color: #3283b8;
}

.Dashboard_Breadcrumbs a:hover {
  text-decoration: underline;
}

.Dashboard_Breadcrumbs span {
  cursor: default;
}

.MuiTooltip-tooltip {
  padding: 0;
}