/*#region LOGIN */
.login {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_ImgContainer {
  display: flex;
  background-color: rgb(156, 39, 176);
  border-radius: 30px;
  padding: 9px;
}

.login_Img {
  width: 27px;
  height: auto;
}

.login_Title {
  font-weight: 500;
  font-size: x-large;
}

.login_Form {
  max-width: 444px;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login_SignUpContainer {
  max-width: 444px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.login_SignUpContainer a {
  color: rgba(25, 118, 210);
  text-decoration-color: rgba(25, 118, 210, 0.4);
}

.login_SignUpContainer a:hover {
  text-decoration-color: rgba(25, 118, 210);
}

.login_errorSpan {
  color: #d32f2f;
  font-size: 14px;
  text-align: center;
}
/*#endregion */

/*#region REGISTER */
.register {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register_ImgContainer {
  display: flex;
  background-color: rgb(156, 39, 176);
  border-radius: 30px;
  padding: 9px;
}

.register_Img {
  width: 27px;
  height: auto;
}

.register_Title {
  font-weight: 500;
  font-size: x-large;
}

.register_Form {
  max-width: 444px;
  width: 30%;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.register_InputDoubleContainer {
  width: 100%;
  display: flex;
  gap: 15px;
}

.register_SignInContainer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.register_SignInContainer a {
  color: rgba(25, 118, 210);
  text-decoration-color: rgba(25, 118, 210, 0.4);
}

.register_SignInContainer a:hover {
  text-decoration-color: rgba(25, 118, 210);
}
/*#endregion */

/*#region LOGINBUTTONGROUP */
.LoginButtonGroup {
  max-width: 444px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.LoginButtonGroup button {
  transition: 60ms ease-in-out 0s;
  padding-block: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-weight: 600;
  color: #606060;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 12px;
}

.LoginButtonGroup button:hover {
  transition: 60ms ease-in-out 0s;
  transform: translateY(-2px);
  box-shadow: 1px 3px 6px gainsboro;
}

.LoginButtonGroup_Logo {
  width: 27px;
  height: auto;
}
/*#endregion */

/*#region RECOVER */
.Recover {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Recover_ImgContainer {
  display: flex;
  background-color: rgb(156, 39, 176);
  border-radius: 30px;
  padding: 9px;
}

.Recover_Img {
  width: 27px;
  height: auto;
}

.Recover_Title {
  font-weight: 500;
  font-size: x-large;
}

.Recover_SubTitle {
  margin-top: 9px;
  font-weight: 300;
  color: gray;
  text-align: justify;
}

.Recover_Form {
  max-width: 444px;
  width: 30%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Recover_SignInContainer a {
  color: rgba(25, 118, 210);
  text-decoration-color: rgba(25, 118, 210, 0.4);
}

.Recover_SignInContainer a:hover {
  text-decoration-color: rgba(25, 118, 210);
}

.Recover_Sent {
  margin-top: 21px;
  margin-bottom: 36px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/*#endregion */

/*#region NAVIGATION BAR */
.NavigationBar {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-block: 24px;
  padding-inline: 5%;
  border-bottom: 1px solid #60606030;
  box-shadow: 1px 6px 15px #60606021;
}

.NavigationBar_ul {
  display: flex;
  justify-content: space-between;
}

.NavigationBar_logoContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;
}

.NavigationBar_logoContainer span {
  font-size: 21px;
  font-weight: 700;
}

.NavigationBar_menuContainer {
  cursor: pointer;
}
/*#endregion */

/*#region NAVIGATION DRAWER */
.NavigationDrawer {
  width: 360px;
}

.NavigationDrawer_logoContainer {
  width: 100%;
  height: 138px;
  display: grid;
  place-items: center;
  border-bottom: 1px solid #3283b830;
}

.NavigationDrawer_ul1 {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.NavigationDrawer_ul1 li {
  width: 45%;
}

.NavigationDrawer_ulTitle {
  width: 100%;
  font-size: 21px;
  font-weight: 700;
  color: #0f4d7599;
  margin-bottom: 6px;
  text-align: center;
}

.NavigationDrawer_ul1 li {
  height: fit-content;
  display: flex;
}

.NavigationDrawer_link {
  transition: 90ms ease-in-out;
  width: 100%;
  border-radius: 12px;
  text-decoration: none;
}

.NavigationDrawer_link:hover {
  transition: 90ms ease-in-out;
  background-color: #bde1fa;
}

.NavigationDrawer_linkContent {
  height: fit-content;
  margin-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.NavigationDrawer_linkContent p {
  width: 100%;
  color: black;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.NavigationDrawer_logOutContainer {
  padding-block: 90px;
  display: flex;
  justify-content: center;
}

.NavigationDrawer_logOut {
  transition: 120ms ease-in-out;
  width: 90%;
  padding-block: 6px;
  border-radius: 9px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: #0f4d75;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.NavigationDrawer_logOut:hover {
  transition: 120ms ease-in-out;
  transform: translateY(-3px);
  box-shadow: 1px 6px 9px gray;
}
/*#endregion */

/*#region NOTE */
.Note {
  transition: 120ms ease-in-out 0s;
  min-width: 300px;
  width: 100%;
  height: 190px;
  border: 1.5px solid #0f4d7590;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 3px 6px 9px #90909060;
  cursor: pointer;
  display: grid;
}

.Note:hover {
  transition: 120ms ease-in-out 0s;
  background-color: #bde1fa72;
  box-shadow: 3px 6px 9px #90909099;
  transform: translateY(-3px);
}

.Note_titleContainer {
  align-self: start;
  border-bottom: 1px solid #0f4d7590;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #0f4d75;
}

.Note_contentContainer {
  min-height: 90px;
  max-height: 92px;
  align-self: center;
  padding: 10px;
  font-size: 16px;
  text-align: justify;
  color: #727272;
  height: fit-content;
}

.Note_createdAtContainer {
  align-self: end;
  margin-top: 12px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.Note_createdAt {
  font-size: 12px;
  font-weight: 400;
}

.Note_modal {
  height: 100vh;
  display: grid;
  place-items: center;
}
/*#endregion */

/*#region NOTEMODAL */
.NoteModal {
  background-color: #fff;
  width: 60%;
  max-width: 720px;
  height: 82%;
  border-radius: 15px;
  border: 2px solid #1b262c;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.NoteModal_close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3%;
  cursor: pointer;
  z-index: 999;
}

.NoteModal h2 {
  height: 6%;
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.NoteModal p {
  height: 82%;
  width: 100%;
  text-align: justify;
  display: flex;
  align-items: flex-start;
}

.NoteModal_buttonGroup {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.NoteModal_buttonGroup button {
  transition: 120ms ease-in-out 0s;
  height: 72%;
  width: 50%;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border: 1px solid gainsboro;
  border-radius: 6px;
  background-color: #1b262c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.NoteModal_buttonGroup button img {
  width: 21px;
  height: auto;
}

.NoteModal_edit:hover {
  transition: 120ms ease-in-out 0s;
  background-color: #3283b8;
}

.NoteModal_delete:hover {
  transition: 120ms ease-in-out 0s;
  background-color: #ff3333;
}
/*#endregion */

/*#region NOTEHANDLER */
.NoteHandler {
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

.NoteHandler_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding-block: 1rem;
}

.NoteHandler_textField {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.NoteHandler_submit {
  transition: 120ms ease-in-out 0s;
  width: 30%;
  background-color: #1b262c;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding-block: 9px;
  border: none;
  border-radius: 6px;
}

.NoteHandler_submit:hover {
  transition: 120ms ease-in-out 0s;
  background-color: #3283b8;
  border-radius: 18px;
}

.NoteHandler_expireLabel {
  font-size: 1rem;
  color: #454545;
  padding-inline: 12px;
  margin-bottom: 6px;
}

.NoteHandler_expireInput {
  transition: 90ms ease-in-out;
  background-color: #eaeaea;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #888888;
  padding: 15px 12px 8px;
  font-size: 1rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  outline: none;
  cursor: pointer;
}

.NoteHandler_expireInput:hover {
  transition: 150ms ease-in-out;
  background-color: #e3e3e3;
}
/*#endregion */

/*#region NOTEPLACEHOLDER */
.NotePlaceHolder {
  min-width: 300px;
  width: 100%;
  height: 190px;
  border-radius: 15px;
}

.NotePlaceHolder_mid {
  margin: 0 auto;
  max-width: 300px;
  min-height: 190px;
  background-color: #eee;
}

.NotePlaceHolder_background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 190px;
  position: relative;
}
/*#endregion */

@media (max-width: 700px) {
  /*#region LOGIN */
  .login_Form {
    width: 90%;
  }

  .login_SignUpContainer {
    width: 90%;
  }
  /*#endregion */

  /*#region REGISTER */
  .register_Form {
    width: 90%;
  }
  /*#endregion */

  /*#region LOGINBUTTONGROUP */
  .LoginButtonGroup {
    width: 90%;
  }
  /*#endregion */

  /*#region RECOVER */
  .Recover_Form {
    width: 90%;
  }
  /*#endregion */

  /*#region NAVIGATION BAR */
  .NavigationBar_logoContainer span {
    font-size: 24px;
  }
  /*#endregion */

  /*#region NAVIGATION DRAWER */
  .NavigationDrawer {
    width: 300px;
  }

  .NavigationDrawer_ul1 li {
    width: 60%;
  }
  /*#endregion */
}

@media (max-width: 300px) {
  /*#region NAVIGATION DRAWER */
  .NavigationDrawer {
    width: 210px;
  }

  .NavigationDrawer_ul1 li {
    width: 81%;
  }
  /*#endregion */
}

@media (min-width: 701px) and (max-width: 1120px) {
  /*#region LOGIN */
  .login_Form {
    width: 48%;
  }

  .login_SignUpContainer {
    width: 48%;
  }
  /*#endregion */

  /*#region REGISTER */
  .register_Form {
    width: 48%;
  }
  /*#endregion */

  /*#region LOGINBUTTONGROUP */
  .LoginButtonGroup {
    width: 48%;
  }
  /*#endregion */

  /*#region RECOVER */
  .Recover_Form {
    width: 48%;
  }
  /*#endregion */
}

@media (max-width: 900px) {
  /*#region NOTEMODAL */
  .NoteModal {
    width: 75%;
    padding: 3%;
  }

  .NoteModal h2 {
    height: 8%;
    width: 100%;
    margin-bottom: 1%;
  }
  /*#endregion */
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

