.Home {
  height: calc(100vh - 100px);
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 4.5%;
  padding-block: 1%;
  background-color: #f9f9f9;
}

.Home_welcome {
  font-size: 18px;
  margin-block: 9px;
}

.Home_welcome h1 {
  font-size: 42px;
  color: #0f4d75;
  text-align: center;
}

.Home_section {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.Home_article {
  min-width: 410px;
  margin-block: 32px;
  width: 42%;
  padding: 21px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  border: 1px solid #1b262c60;
  border-radius: 18px;
  box-shadow: 1px 3px 12px gray;
}

.Home_article img {
  width: 270px;
  height: auto;
}

.Home_articleTitle {
  font-size: 21px;
  font-weight: 700;
  color: #1b262c;
  margin-bottom: 9px;
}

.Home_article p {
  text-align: justify;
  color: #0f4d75;
}

.Home_buttonAdminContainer {
  margin-block: 21px;
  display: flex;
  justify-content: center;
}

.Home_buttonAdmin {
  transition: 120ms ease-in-out 0s;
  color: #ffffff;
  background-color: #1b262c;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 700;
  padding-block: 9px;
  padding-inline: 32px;
  cursor: pointer;
}

.Home_buttonAdmin:hover {
  transition: 120ms ease-in-out 0s;
  background-color: #62c0bf;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .Home_section {
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 32px;
  }

  .Home_article {
    margin-block: 32px;
    width: 48%;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .Home_welcome h1 {
    font-size: 33px;
  }

  .Home_section {
    margin-top: 16px;
    flex-wrap: wrap;
  }

  .Home_article {
    min-width: 210px;
    margin-block: 32px;
    width: 93%;
  }

  .Home_article img {
    width: 240px;
  }
}
